// Place all the styles related to the date_tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.time {
	margin: 10px 0px 0px 30px;
}

.year {
	margin: 10px 0px 20px 30px;
}

.test{
	height:1400px;
}