// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.link_employee{
	color: #000000;
    a:hover { color: #DDDDDD; text-decoration: none; }
    text-decoration: none;
}

.edit_employee{
	width: 500px;
	height: 500px;
	background-color:rgba(105,255,110,0.5);
	margin: 50px 0px 0px 480px;
}

.em {
padding: 0.25em 0.5em;/*上下 左右の余白*/
color: #494949;/*文字色*/
background: transparent;/*背景透明に*/
border-left: solid 5px #7db4e6;/*左線*/
margin-left: 30px
}